openapi: 3.0.1
info:
  title: Cheqi API
  description: Cheqi provides APIs for creating receipts and reading receipts for
    customers
  version: v1
servers:
- url: https://api.cheqi.io
  description: Production
- url: https://sandbox.api.cheqi.io
  description: Sandbox
security:
- cheqi_oauth: []
- cheqi_api_key: []
tags:
- name: Store Management
  description: Endpoints for managing lightweight store/location records under a company.
    Stores are not child companies and do not create a separate Cheqi company identity.
- name: Client Application Management
  description: "Endpoints for managing OAuth2 client applications, including registration,\
    \ secret management, and public key configuration"
- name: OAuth2 Authorization
  description: Authorize a company integration and request company-bound access tokens
- name: Credit Note Management
  description: "Endpoints for creating, managing, and retrieving credit notes (refund\
    \ receipts)"
- name: Company Management
  description: Public company endpoints for trusted partner provisioning and parent-child
    company hierarchy management
- name: Recipient Management
  description: Endpoints for resolving and matching receipt recipients
- name: Receipt Management
  description: Endpoints for creating and managing purchase receipts with end-to-end
    encryption
- name: Webhook Management
  description: Endpoints for managing webhook subscriptions to receive real-time event
    notifications
paths:
  /oauth2/authorize:
    get:
      tags:
      - OAuth2 Authorization
      summary: Initiate OAuth2 authorization
      description: Initiates the OAuth2 authorization flow. Redirects to the frontend
        authorization page where users can approve or deny access.
      operationId: authorize
      parameters:
      - name: client_id
        in: query
        description: Client application ID
        required: true
        schema:
          type: string
      - name: scope
        in: query
        description: Requested OAuth scopes (space-separated)
        required: true
        schema:
          type: string
      - name: state
        in: query
        description: State parameter for CSRF protection
        required: true
        schema:
          type: string
      - name: redirect_uri
        in: query
        description: Redirect URI after authorization
        required: true
        schema:
          type: string
      - name: code_challenge
        in: query
        description: PKCE S256 code challenge
        required: true
        schema:
          type: string
      - name: code_challenge_method
        in: query
        description: PKCE challenge method; only S256 is supported
        required: true
        schema:
          type: string
      - name: company_id
        in: query
        description: Requested company context
        required: false
        schema:
          type: string
          format: uuid
      responses:
        "400":
          description: Invalid OAuth2 parameters
        "302":
          description: Redirect to the authorization page
          headers:
            Location:
              description: Authorization page URL
              style: simple
              schema:
                type: string
                format: uri
      security: []
  /oauth2/authorization-code/exchange:
    post:
      tags:
      - OAuth2 Authorization
      summary: Exchange authorization code
      description: Consume a one-time authorization code and return the approved Grant
        metadata.
      operationId: exchangeAuthorizationCode
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthorizationCodeExchangeRequest"
        required: true
      responses:
        "401":
          description: Invalid client credentials
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/CompanyAuthorizationResponse"
        "200":
          description: Authorization code exchanged successfully
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/CompanyAuthorizationResponse"
        "400":
          description: "Invalid, expired, or already used authorization code"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/CompanyAuthorizationResponse"
      security: []
  /oauth2/grants/{grantId}:
    get:
      tags:
      - OAuth2 Authorization
      summary: Get Grant details
      description: Returns the current Company and Store metadata for the Grant bound
        to the access token.
      operationId: getGrantDetails
      parameters:
      - name: grantId
        in: path
        description: Grant identifier
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "404":
          description: Grant not found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/OAuthGrantDetailsResponse"
        "200":
          description: Grant details retrieved successfully
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/OAuthGrantDetailsResponse"
        "403":
          description: The token is not authorized for this Grant or lacks read_stores
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/OAuthGrantDetailsResponse"
  /oauth2/token:
    post:
      tags:
      - OAuth2 Authorization
      summary: OAuth token exchange
      description: Request a short-lived Company token for an approved Grant.
      operationId: getToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClientCredentialsTokenRequest"
        required: true
      responses:
        "401":
          description: Invalid client credentials
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/OAuthTokenExchangeResponse"
        "400":
          description: Invalid authorization code or request parameters
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/OAuthTokenExchangeResponse"
        "200":
          description: OAuth exchange completed successfully
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/OAuthTokenExchangeResponse"
              examples:
                Client credentials response:
                  summary: Company access token
                  description: Client credentials response
                  value:
                    access_token: opaque-access-token
                    token_type: bearer
                    expires_in: 900
                    scope: receipts.issue
      security: []
  /company/{id}/receipt-delivery/devices/{deviceId}:
    put:
      tags:
      - Company Management
      summary: Update company receipt delivery for one device
      description: |-
        Enables or disables company receipt delivery for one of the authenticated user's devices.

        **Accessible for:** User
      operationId: updateReceiptDeliveryDevice
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: deviceId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCompanyReceiptDeliveryPreferenceRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyReceiptDeliveryDeviceDto"
      x-accessible-for: User
  /company/{companyId}/stores/{storeId}:
    get:
      tags:
      - Store Management
      summary: Get store location
      description: Gets a specific lightweight store/location record under the specified
        company. OAuth client applications require the read_stores scope.
      operationId: getStore
      parameters:
      - name: companyId
        in: path
        description: Company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: storeId
        in: path
        description: Store ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          description: Not authorized to view this store
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/StoreDTO"
        "404":
          description: Store or company not found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/StoreDTO"
        "200":
          description: Store retrieved successfully
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/StoreDTO"
    put:
      tags:
      - Store Management
      summary: Update store location
      description: Updates a lightweight store/location record under the specified
        company. OAuth client applications require the write_stores scope.
      operationId: updateStore
      parameters:
      - name: companyId
        in: path
        description: Company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: storeId
        in: path
        description: Store ID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateStoreRequest"
        required: true
      responses:
        "404":
          description: Store or company not found
          content:
            '*/*':
              schema:
                type: object
        "403":
          description: Not authorized to update this store
          content:
            '*/*':
              schema:
                type: object
        "400":
          description: Invalid request data
          content:
            '*/*':
              schema:
                type: object
        "200":
          description: Store updated successfully
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/StoreDTO"
  /webhook/subscription:
    post:
      tags:
      - Webhook Management
      summary: Create webhook subscription
      description: |-
        Creates a webhook subscription to receive real-time notifications for receipt and credit note events. The webhook URL will be called when events occur for the authenticated company or client application.

        **Accessible for:** Company, Client Application
      operationId: handleWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookRequestBody"
        required: true
      responses:
        "400":
          description: Invalid webhook request data
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/WebhookResponse"
        "409":
          description: Duplicate webhook subscription already exists
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/WebhookResponse"
        "403":
          description: Insufficient permissions - requires read_receipts scope
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/WebhookResponse"
        "200":
          description: Webhook subscription created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookResponse"
      security:
      - cheqi_oauth:
        - read_receipts
      x-accessible-for: "Company, Client Application"
  /recipient/resolve:
    post:
      tags:
      - Recipient Management
      summary: Resolve receipt processing devices
      description: |-
        Matches the customer from the provided identification details and returns one temporary recipient for every device owned by the matched customer. Each device receives an independently encrypted generation request. Downstream wallet and third-party recipients are resolved later for exactly one processing device.

        **Accessible for:** Company, Client Application
      operationId: matchCustomer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdentificationDetails"
        required: true
      responses:
        "403":
          description: Insufficient permissions - requires write_receipts scope
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RecipientResolutionResponse"
        "404":
          description: No recipient found matching the provided identification details
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RecipientResolutionResponse"
        "401":
          description: Authentication required
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RecipientResolutionResponse"
        "400":
          description: Invalid identification details provided
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RecipientResolutionResponse"
        "200":
          description: Recipient successfully resolved and matched
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RecipientResolutionResponse"
      security:
      - cheqi_oauth:
        - write_receipts
      x-accessible-for: "Company, Client Application"
  /receipts/queue/acknowledge/received:
    post:
      tags:
      - Receipt Management
      summary: Acknowledge queued receipts
      description: |-
        Acknowledges successfully processed queued receipts for the authenticated company or client application. Requires the read_receipts scope.

        **Accessible for:** Client Application, Company
      operationId: acknowledgeQueuedReceipts
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AcknowledgeRequest"
        required: true
      responses:
        "200":
          description: Queued receipts acknowledged successfully
        "403":
          description: Insufficient permissions - requires read_receipts scope
      security:
      - cheqi_oauth:
        - read_receipts
      x-accessible-for: "Client Application, Company"
  /receipts/queue/acknowledge/failed-permanent:
    post:
      tags:
      - Receipt Management
      summary: Acknowledge permanent failure for queued receipts
      description: |-
        Marks queued receipts as permanently failed for the authenticated company or client application. Requires the read_receipts scope.

        **Accessible for:** Client Application, Company
      operationId: acknowledgeQueuedReceiptsPermanentFailure
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PermanentFailureAcknowledgeRequest"
        required: true
      responses:
        "200":
          description: Queued receipts marked as permanently failed successfully
        "403":
          description: Insufficient permissions - requires read_receipts scope
      security:
      - cheqi_oauth:
        - read_receipts
      x-accessible-for: "Client Application, Company"
  /receipt/encrypted:
    post:
      tags:
      - Receipt Management
      summary: Submit an encrypted receipt payload
      description: |-
        Queues independently encrypted definitive receipt payloads for the devices returned by POST /recipient/resolve. The backend never decrypts these requests.

        **Accessible for:** Company, Client Application
      operationId: submitEncryptedReceipt
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EncryptedReceiptEnvelope"
        required: true
      responses:
        "403":
          description: Insufficient permissions
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ReceiptSubmissionResponse"
        "409":
          description: Conflicting replay for this matchId
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ReceiptSubmissionResponse"
        "202":
          description: Encrypted receipt payload accepted for on-device formatting
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ReceiptSubmissionResponse"
        "400":
          description: Invalid encrypted generation request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ReceiptSubmissionResponse"
      security:
      - cheqi_oauth:
        - write_receipts
      x-accessible-for: "Company, Client Application"
  /receipt/email:
    post:
      tags:
      - Receipt Management
      summary: Send receipt via email
      description: |-
        Sends a purchase receipt directly to a customer via email. The receipt is delivered as a PDF attachment. Requires the write_receipts scope.

        **Accessible for:** Company, Client Application
      operationId: submitReceiptWithEmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailReceiptRequest"
        required: true
      responses:
        "403":
          description: Insufficient permissions - requires write_receipts scope
        "400":
          description: Invalid email receipt request data
        "201":
          description: Receipt sent successfully via email
      security:
      - cheqi_oauth:
        - write_receipts
      x-accessible-for: "Company, Client Application"
  /receipt/download:
    post:
      tags:
      - Receipt Management
      summary: Upload a client-encrypted receipt for a client-generated download link
      description: |-
        Stores the ciphertext behind a download id the SDK generated locally, so the QR code worked before this upload. First write wins: resubmitting the same downloadId with identical bytes returns 200 with the original identifiers (safe retry); different bytes or a different principal conflict with 409 and never replace the stored receipt. Requires the write_receipts scope.

        **Accessible for:** Company, Client Application
      operationId: uploadClientEncryptedReceipt
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClientReceiptDownloadRequest"
        required: true
      responses:
        "200":
          description: Idempotent replay of an identical earlier upload
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ClientReceiptDownloadResponse"
        "201":
          description: Encrypted receipt stored
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ClientReceiptDownloadResponse"
        "409":
          description: A different receipt is already stored under this download id
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ClientReceiptDownloadResponse"
        "400":
          description: "Invalid download id, IV, or ciphertext"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ClientReceiptDownloadResponse"
        "403":
          description: Insufficient permissions - requires write_receipts scope
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ClientReceiptDownloadResponse"
      security:
      - cheqi_oauth:
        - write_receipts
      x-accessible-for: "Company, Client Application"
  /oauth2/company-grants/{grantId}/suspend:
    post:
      tags:
      - OAuth2 Company Grants
      summary: Suspend a company grant immediately
      description: |2-


        **Accessible for:** User
      operationId: suspend
      parameters:
      - name: grantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyGrantActionRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/CompanyGrantResponse"
      x-accessible-for: User
  /oauth2/company-grants/{grantId}/revoke:
    post:
      tags:
      - OAuth2 Company Grants
      summary: Revoke a company grant immediately
      description: |2-


        **Accessible for:** User
      operationId: revoke
      parameters:
      - name: grantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyGrantActionRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/CompanyGrantResponse"
      x-accessible-for: User
  /oauth2/company-grants/{grantId}/reactivate:
    post:
      tags:
      - OAuth2 Company Grants
      summary: Reactivate a suspended company grant
      description: |2-


        **Accessible for:** User
      operationId: reactivate
      parameters:
      - name: grantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyGrantActionRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/CompanyGrantResponse"
      x-accessible-for: User
  /credit-note/initiate:
    post:
      tags:
      - Credit Note Management
      summary: Initiate credit note request
      description: |-
        Initiates a credit note (refund) request from a customer's device. The request is encrypted and queued for processing.

        **Accessible for:** User
      operationId: createCreditNote
      parameters:
      - name: X-Device-ID
        in: header
        description: Device ID of the requesting device
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EncryptedCreditNoteInitiationRequest"
        required: true
      responses:
        "403":
          description: Not authorized to initiate credit notes
        "200":
          description: Credit note initiation request accepted
        "400":
          description: Invalid request data
      x-accessible-for: User
  /credit-note/encrypted:
    post:
      tags:
      - Credit Note Management
      summary: Submit encrypted credit-note generation input
      description: |-
        Submits independently encrypted credit-note generation input for every matched owner device. Devices generate CHEQI JSON and any requested UBL CreditNote locally.

        **Accessible for:** Company, Client Application
      operationId: submitEncryptedReceipt_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EncryptedCreditNoteEnvelope"
        required: true
      responses:
        "400":
          description: Invalid encrypted credit note data
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ReceiptSubmissionResponse"
        "403":
          description: Insufficient permissions - requires write_receipts scope
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ReceiptSubmissionResponse"
        "202":
          description: Encrypted credit-note generation job accepted
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ReceiptSubmissionResponse"
      security:
      - cheqi_oauth:
        - write_receipts
      x-accessible-for: "Company, Client Application"
  /company/{parentId}/children:
    post:
      tags:
      - Company Management
      summary: Create child company
      description: |-
        Creates a child company under an existing parent company. Use this when a branch, franchisee, or location should be modeled as its own Cheqi company with its own company identity. This is different from store management, which creates lightweight store/location records under a single company. The authenticated user must be an admin of the parent company.

        **Accessible for:** User
      operationId: addChildCompany
      parameters:
      - name: parentId
        in: path
        description: ID of the parent company
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateChildCompanyRequest"
        required: true
      responses:
        "403":
          description: User is not authorized to create child companies for this parent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyResponse"
        "404":
          description: Parent company not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyResponse"
        "201":
          description: Child company created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyResponse"
      x-accessible-for: User
  /company/{companyId}/stores:
    get:
      tags:
      - Store Management
      summary: List store locations
      description: Lists lightweight store/location records for the specified company.
        This does not list child companies. OAuth client applications require the
        read_stores scope.
      operationId: getStores
      parameters:
      - name: companyId
        in: path
        description: Company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: active
        in: query
        description: Filter by active status
        required: false
        schema:
          type: boolean
      responses:
        "404":
          description: Company not found
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/StoreDTO"
        "200":
          description: Stores retrieved successfully
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/StoreDTO"
        "403":
          description: Not authorized to view stores for this company
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/StoreDTO"
    post:
      tags:
      - Store Management
      summary: Create store location
      description: "Creates a lightweight store/location record under the specified\
        \ company. Use child companies instead when the branch or franchisee needs\
        \ its own Cheqi company identity, tax details, permissions, or reporting boundary.\
        \ OAuth client applications require the write_stores scope."
      operationId: createStore
      parameters:
      - name: companyId
        in: path
        description: Company ID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateStoreRequest"
        required: true
      responses:
        "201":
          description: Store created successfully
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/StoreDTO"
        "403":
          description: Not authorized to create stores for this company
          content:
            '*/*':
              schema:
                type: object
        "404":
          description: Company not found
          content:
            '*/*':
              schema:
                type: object
        "400":
          description: Invalid request data
          content:
            '*/*':
              schema:
                type: object
  /client-application/{clientApplicationId}/public-key:
    get:
      tags:
      - Client Application Management
      summary: Get client application public key
      description: |-
        Retrieves the public key information for a client application, including the key data, algorithm, and upload timestamp. This key is used to verify signatures from the client application.

        **Accessible for:** Company, User
      operationId: getClientApplicationPublicKey
      parameters:
      - name: clientApplicationId
        in: path
        description: Client application ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "404":
          description: Client application not found or public key not configured
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicKeyResponse"
        "200":
          description: Public key retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicKeyResponse"
        "403":
          description: Not authorized to access this client application's public key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicKeyResponse"
      x-accessible-for: "Company, User"
    post:
      tags:
      - Client Application Management
      summary: Upload client application public key
      description: |-
        Uploads a public key for the client application. This key is used to verify signatures from the client application when it signs receipts or other data. Can be called by company admins or using company API key authentication.

        **Accessible for:** Company, User
      operationId: uploadClientApplicationPublicKey
      parameters:
      - name: clientApplicationId
        in: path
        description: Client application ID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UploadPublicKeyRequest"
        required: true
      responses:
        "200":
          description: Public key uploaded successfully
        "403":
          description: Not authorized to manage keys for this client application
        "400":
          description: Invalid public key format or algorithm
        "404":
          description: Client application not found
      x-accessible-for: "Company, User"
  /oauth2/company-grants/{grantId}:
    patch:
      tags:
      - OAuth2 Company Grants
      summary: "Update scopes, stores, or billing for a company grant"
      description: |2-


        **Accessible for:** User
      operationId: update
      parameters:
      - name: grantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCompanyGrantRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/CompanyGrantResponse"
      x-accessible-for: User
  /company/{companyId}/stores/{storeId}/deactivate:
    patch:
      tags:
      - Store Management
      summary: Deactivate store location
      description: Deactivates a store/location without deleting its history. OAuth
        client applications require the write_stores scope.
      operationId: deactivateStore
      parameters:
      - name: companyId
        in: path
        description: Company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: storeId
        in: path
        description: Store ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "404":
          description: Store or company not found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/StoreDTO"
        "200":
          description: Store deactivated successfully
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/StoreDTO"
        "403":
          description: Not authorized to deactivate this store
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/StoreDTO"
  /company/{companyId}/stores/{storeId}/activate:
    patch:
      tags:
      - Store Management
      summary: Activate store location
      description: Reactivates a previously deactivated store/location. OAuth client
        applications require the write_stores scope.
      operationId: activateStore
      parameters:
      - name: companyId
        in: path
        description: Company ID
        required: true
        schema:
          type: string
          format: uuid
      - name: storeId
        in: path
        description: Store ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "404":
          description: Store or company not found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/StoreDTO"
        "200":
          description: Store activated successfully
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/StoreDTO"
        "403":
          description: Not authorized to activate this store
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/StoreDTO"
  /receipts/queue:
    get:
      tags:
      - Receipt Management
      summary: Get queued encrypted receipts
      description: |-
        Returns pending encrypted receipts for the authenticated company or client application. Receipts remain in the queue until they are explicitly acknowledged or marked as permanently failed. Requires the read_receipts scope.

        **Accessible for:** Client Application, Company
      operationId: getQueuedReceipts
      responses:
        "200":
          description: Queued receipts returned successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncryptedReceiptDeliveryResponse"
        "403":
          description: Insufficient permissions - requires read_receipts scope
          content:
            application/json:
              schema:
                uniqueItems: true
                type: array
                items:
                  $ref: "#/components/schemas/EncryptedReceiptDeliveryResponse"
      security:
      - cheqi_oauth:
        - read_receipts
      x-accessible-for: "Client Application, Company"
  /oauth2/company-grants/company/{companyId}:
    get:
      tags:
      - OAuth2 Company Grants
      summary: List the integration grants for an issuer company
      description: |2-


        **Accessible for:** User
      operationId: list
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CompanyGrantResponse"
      x-accessible-for: User
  /credit-note:
    get:
      tags:
      - Credit Note Management
      summary: Get all outstanding credit note initiation requests
      description: |-
        Retrieves all outstanding credit note initiation requests for the authenticated company or client application. These are customer-initiated refund requests that are pending processing.

        **Accessible for:** Company, Client Application
      operationId: getAllCreditNotes
      responses:
        "200":
          description: Credit notes retrieved successfully
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EncryptedCreditNoteDto"
        "403":
          description: Not authorized to access credit notes
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/EncryptedCreditNoteDto"
      x-accessible-for: "Company, Client Application"
  /company/{id}/receipt-delivery/devices:
    get:
      tags:
      - Company Management
      summary: Get company receipt delivery devices for the current user
      description: |-
        Returns the authenticated user's active devices and whether each one is enabled to receive company receipts for the specified company.

        **Accessible for:** User
      operationId: getReceiptDeliveryDevices
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyReceiptDeliverySettingsResponse"
      x-accessible-for: User
  /company/identifier-requirements:
    get:
      tags:
      - Company Management
      description: |2-


        **Accessible for:** User
      operationId: getIdentifierRequirements
      parameters:
      - name: countryCode
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CompanyIdentifierRequirement"
      x-accessible-for: User
  /client-application/authorized-resources:
    get:
      tags:
      - Client Application Management
      summary: Get authorized resources
      description: |-
        Returns all resources the client application is authorized to access, organized hierarchically by companies, payment accounts, cards, and emails.

        **Accessible for:** Client Application
      operationId: getAuthorizedResources
      responses:
        "401":
          description: Invalid or missing access token
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AuthorizedResourcesResponse"
        "403":
          description: Not a client application token
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AuthorizedResourcesResponse"
        "200":
          description: Authorized resources retrieved successfully
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AuthorizedResourcesResponse"
      x-accessible-for: Client Application
components:
  schemas:
    UpdateCompanyReceiptDeliveryPreferenceRequest:
      required:
      - receiptDeliveryEnabled
      type: object
      properties:
        receiptDeliveryEnabled:
          type: boolean
    CompanyReceiptDeliveryDeviceDto:
      type: object
      properties:
        deviceId:
          type: string
          format: uuid
        deviceName:
          type: string
        platform:
          type: string
          enum:
          - IOS
          - ANDROID
          - SERVER
        createdAt:
          type: string
          format: date-time
        receiptDeliveryEnabled:
          type: boolean
    AddressDTO:
      required:
      - cityName
      - countryIsoCode
      - postalZone
      - streetName
      type: object
      properties:
        id:
          type: integer
          format: int64
        streetName:
          type: string
        additionalStreetName:
          type: string
        addressLine:
          type: string
        region:
          type: string
        cityName:
          type: string
        postalZone:
          type: string
        countryIsoCode:
          type: string
    UpdateStoreRequest:
      type: object
      properties:
        storeName:
          maxLength: 255
          minLength: 0
          type: string
        addressDto:
          $ref: "#/components/schemas/AddressDTO"
        phoneNumber:
          maxLength: 20
          minLength: 0
          type: string
        email:
          maxLength: 255
          minLength: 0
          type: string
        isActive:
          type: boolean
        openingHours:
          maxLength: 500
          minLength: 0
          type: string
    StoreDTO:
      required:
      - storeCode
      - storeName
      type: object
      properties:
        active:
          type: boolean
        id:
          type: string
          format: uuid
        companyId:
          type: string
          format: uuid
        storeName:
          maxLength: 255
          minLength: 0
          type: string
        storeCode:
          maxLength: 50
          minLength: 0
          type: string
        addressDto:
          $ref: "#/components/schemas/AddressDTO"
        phoneNumber:
          maxLength: 20
          minLength: 0
          type: string
        email:
          maxLength: 255
          minLength: 0
          type: string
        isActive:
          type: boolean
        openingHours:
          maxLength: 500
          minLength: 0
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    WebhookRequestBody:
      type: object
      properties:
        name:
          type: string
        events:
          type: array
          items:
            type: string
            enum:
            - RECEIPT_CREATED
            - RECEIPT_FINALIZED
            - RETURN_REQUESTED
            - CREDIT_NOTE_CREATED
            - CREDIT_NOTE_FINALIZED
        notificationUrl:
          type: string
      description: Webhook subscription request with URL and event types
    WebhookDTO:
      type: object
      properties:
        name:
          type: string
        notificationUrl:
          type: string
        event:
          type: string
        clientApplicationId:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        companyId:
          type: string
    WebhookResponse:
      type: object
      properties:
        createdWebhooks:
          type: array
          items:
            $ref: "#/components/schemas/WebhookDTO"
        failedEvents:
          type: array
          items:
            type: string
    AccountIdentifierType:
      type: string
      description: Account type identifier
      enum:
      - IBAN
    CardDetails:
      required:
      - paymentAccountReference
      type: object
      properties:
        cardProvider:
          type: string
          description: "The card provider, this is one of the major networks like\
            \ Mastercard, Visa, American Express etc."
          enum:
          - MAESTRO
          - MASTERCARD
          - VISA
          - AMERICAN_EXPRESS
        paymentAccountReference:
          type: string
          description: "The Payment Account Reference (PAR), a stable identifier for\
            \ the card or tokenized payment instrument."
        lastFourDigits:
          pattern: "^\\d{4}$"
          type: string
          description: "The last four digits of the card number, if available. Optional\
            \ and used for display and receipt metadata only."
      description: Card payment details.
    IdentificationDetails:
      type: object
      properties:
        paymentType:
          $ref: "#/components/schemas/PaymentType"
        cardDetails:
          $ref: "#/components/schemas/CardDetails"
        paymentAccountDetails:
          $ref: "#/components/schemas/PaymentAccountDetails"
        paymentIds:
          type: array
          description: The payment IDs that are used to identify the payment on your
            side
          items:
            type: string
            description: The payment IDs that are used to identify the payment on
              your side
        merchantId:
          type: string
          description: Optional merchant identifier assigned by the card acquirer
            or payment processor. It is preserved as receipt payment metadata and
            is not used for customer matching. This is not the Cheqi company ID.
          example: MID-from-payment-terminal
        paymentTerminalId:
          type: string
          description: Optional terminal identifier assigned by the card acquirer
            or payment processor. It is preserved as receipt payment metadata and
            is not used for customer matching. This is not a fiscal cash-register
            or device identifier.
          example: TID-from-payment-terminal
        recipientEmail:
          type: string
          description: Recipient email used as a fallback customer identifier.
          example: recipient@example.com
        cheqiReceiptId:
          type: string
          description: "The Cheqi receipt ID, only needed for credit notes"
          example: CHQ-12345678-123456-123456
        pairingCode:
          pattern: "\\d{8}"
          type: string
          description: A temporary 8-digit pairing code generated by the receipt recipient.
          example: "84739201"
      description: "Identification and payment details used to resolve the receipt\
        \ recipient. paymentType is optional when pairingCode is supplied because\
        \ the pairing code carries the customer-selected payment method. A customer\
        \ locator (cardDetails, paymentAccountDetails, recipientEmail or pairingCode)\
        \ is optional: when none is supplied the request is treated as an anonymous\
        \ \"no customer\" receipt, which resolves to the QR-code download fallback\
        \ route (when downloadFallbackEnabled). The mutual-exclusion rules below still\
        \ apply so a locator is never paired with an incompatible payment type."
    PaymentAccountDetails:
      required:
      - accountIdentifierType
      - identifier
      type: object
      properties:
        identifier:
          type: string
        accountIdentifierType:
          $ref: "#/components/schemas/AccountIdentifierType"
        bic:
          type: string
        bankName:
          type: string
        accountHolderName:
          type: string
      description: Payment-account details. For now only IBAN/WERO-style identifiers
        are supported.
    PaymentType:
      type: string
      description: Describes how the transaction was paid. This is payment context
        for receipt generation and is independent from how the recipient was matched.
      example: CARD_PAYMENT
      enum:
      - CARD_PAYMENT
      - DIRECT_DEBIT
      - CASH
    BuyerType:
      type: string
      description: Type of recipient entity
      example: BUSINESS/CONSUMER
      enum:
      - BUSINESS
      - CONSUMER
    MatchedRecipient:
      type: object
      properties:
        id:
          type: string
          description: Temporary opaque recipient identifier for this match session.
        publicKey:
          type: string
          description: Public key for encrypting receipts for this recipient.
        keyAlgorithm:
          type: string
          description: "Algorithm used for the public key (e.g., \"RSA\", \"RSA_2048\"\
            )."
        acceptedFormats:
          type: array
          description: "Receipt formats this recipient accepts (e.g., CHEQI, UBL_PURCHASE_RECEIPT)."
          items:
            $ref: "#/components/schemas/ReceiptFormat"
      description: The list of recipients found for the given recipient
    ReceiptFormat:
      type: string
      description: Receipt output format
      enum:
      - CHEQI
      - UBL_PURCHASE_RECEIPT
      - UBL_INVOICE
      - UBL_CREDIT_NOTE
    RecipientResolutionResponse:
      type: object
      properties:
        routeFound:
          type: boolean
          description: Indicates if Cheqi found a delivery route for the receipt
          example: true
        deliveryRouteType:
          type: string
          description: The selected receipt delivery route
          example: DIGITAL
          enum:
          - DIGITAL
          - EMAIL_FALLBACK
          - DOWNLOAD_FALLBACK
        matchId:
          type: string
          description: The unique identifier for the matching process
        recipients:
          type: array
          description: The list of recipients found for the given recipient
          items:
            $ref: "#/components/schemas/MatchedRecipient"
        expiresAt:
          type: string
          description: The expiration time for the matching process
          format: date-time
          example: 2023-01-01T00:00:00Z
        buyerCountryCode:
          type: string
          description: The country code of the buyer
          example: NL
        buyerType:
          $ref: "#/components/schemas/BuyerType"
    AcknowledgeRequest:
      type: object
      properties:
        receiptIds:
          uniqueItems: true
          type: array
          items:
            type: string
    PermanentFailureAcknowledgeRequest:
      type: object
      properties:
        receiptIds:
          uniqueItems: true
          type: array
          items:
            type: string
        failureReason:
          type: string
    EncryptedReceiptEnvelope:
      required:
      - deviceDeliveries
      - matchId
      type: object
      properties:
        matchId:
          type: string
          description: Device-processing match ID returned by POST /recipient/resolve.
        childCompanyId:
          type: string
          description: Deprecated compatibility field. It may only equal the company
            in the authentication context and no longer grants parent-to-child issuance.
          format: uuid
          deprecated: true
        storeId:
          type: string
          description: "Optional store/location issuing the receipt. It must be owned\
            \ by the company in the authentication context, which remains the legal\
            \ receipt issuer."
          format: uuid
        deviceDeliveries:
          type: array
          description: Independently encrypted copies of the definitive receipt payload
            for the matched devices.
          items:
            $ref: "#/components/schemas/EncryptedReceiptPayload"
      description: Encrypted definitive receipt payloads submitted for on-device formatting.
    EncryptedReceiptPayload:
      required:
      - deviceRecipientId
      - encryptedAesKey
      - encryptedContent
      type: object
      properties:
        deviceRecipientId:
          type: string
          description: Temporary device recipient ID returned by the recipient-resolution
            endpoint.
        encryptedContent:
          type: string
          description: "Base64-encoded AES-256-GCM ciphertext for this device. After\
            \ decryption, the plaintext JSON must conform to the ReceiptPayload schema\
            \ shown under Receipt Management. Cheqi never receives or decrypts that\
            \ plaintext."
        encryptedAesKey:
          type: string
          description: Base64-encoded AES content key encrypted with this device's
            public key.
      description: One encrypted definitive receipt payload addressed to an owner
        device.
    ReceiptSubmissionResponse:
      type: object
      properties:
        cheqiReceiptId:
          type: string
          description: Stable Cheqi receipt identifier assigned to the processing
            job.
        matchId:
          type: string
        status:
          type: string
          description: Processing status of an encrypted receipt payload submission.
          enum:
          - PENDING
          - CLAIMED
          - COMPLETED
          - FAILED_PERMANENT
        createdAt:
          type: string
          format: date-time
      description: Acknowledgement of an accepted encrypted receipt payload submission.
    Barcode:
      required:
      - data
      - type
      type: object
      properties:
        type:
          $ref: "#/components/schemas/BarcodeType"
        data:
          type: string
          description: The data encoded in the barcode
          example: https://example.com/return/12345
        label:
          type: string
          description: A human-readable label for the barcode
          example: Return code
      description: Issuer-supplied receipt-level barcodes or QR-code payloads.
    Charge:
      required:
      - amount
      type: object
      properties:
        amount:
          type: number
          description: The charge amount
          example: 5.0
        percentage:
          type: number
          description: The percentage charge
          format: double
          example: 3.0
        label:
          type: string
          description: "The charge label, for example \"Shipping fee\" or \"Service\
            \ fee\""
          example: Shipping
      description: Issuer-supplied receipt-level charges.
    CheqiReceipt:
      type: object
      properties:
        totalAmount:
          type: number
          description: The total amount of the receipt
          example: 10.0
        documentNumber:
          type: string
          description: "The document number of the receipt, given by the seller, for\
            \ example invoice number."
          example: INV-12356
        identifiers:
          type: array
          description: "The identifiers for the purchase, given by the seller, for\
            \ example order reference, transaction number"
          example: "ORD-12356, TRN-12356"
          items:
            $ref: "#/components/schemas/Identifier"
        issueDate:
          type: string
          description: The issue date of the receipt
          format: date-time
          example: 2024-01-01T00:00:00Z
        currency:
          type: string
          description: The currency of the receipt
          example: EUR
        receiptSubtotal:
          type: number
          description: The subtotal of the receipt
          example: 10.0
        totalBeforeTax:
          type: number
          description: The total before tax of the receipt
          example: 10.0
        totalTaxAmount:
          type: number
          description: The total tax amount of the receipt
          example: 10.0
        products:
          type: array
          description: The list of products included in the receipt. Must contain
            at least one product.
          items:
            $ref: "#/components/schemas/Product"
        discounts:
          type: array
          description: "The list of discounts applied to the receipt on total receipt\
            \ level. Example: discount on total receipt level, 20% discount on complete\
            \ order, etc."
          items:
            $ref: "#/components/schemas/Discount"
        charges:
          type: array
          description: "The list of charges applied to the receipt on total receipt\
            \ level. Example: service fee, shipping fee, etc."
          items:
            $ref: "#/components/schemas/Charge"
        taxes:
          type: array
          description: The list of taxes applied to the receipt
          items:
            $ref: "#/components/schemas/Tax"
        period:
          $ref: "#/components/schemas/Period"
        note:
          type: string
          description: The note of the receipt.
          example: "Thank you for your purchase, have a nice day!"
        sellingParty:
          $ref: "#/components/schemas/SellingParty"
        receivingParty:
          $ref: "#/components/schemas/ReceivingParty"
        barcodes:
          type: array
          description: Optional list of barcodes or QR codes embedded in the receipt
          items:
            $ref: "#/components/schemas/Barcode"
        receiptUuid:
          type: string
          description: The verification nonce of the receipt
    CompanyIdentifierDTO:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of this company identifier entry
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
        identifierType:
          $ref: "#/components/schemas/CompanyIdentifierType"
        registrationScheme:
          type: string
          description: The local registration scheme or registry name. Use a known
            value or a custom string for unsupported registries.
          example: KVK
          enum:
          - BN
          - KENNITALA
          - KVK
          - HRB
          - HRA
          - SIREN
          - SIRET
          - KBO
          - COMPANIES_HOUSE
          - CNPJ
          - ABN
          - CIK
          - OTHER
        value:
          type: string
          description: The actual identifier value
          example: "12345678"
        label:
          type: string
          description: Human-readable display label for this identifier
          example: KVK Number
        countryCode:
          type: string
          description: ISO 3166-1 alpha-2 country code
          example: NL
        isVerified:
          type: boolean
          description: Whether this identifier has been verified by Cheqi
          example: false
        verifiedAt:
          type: string
          description: Timestamp when this identifier was verified
          format: date-time
          example: 2024-01-15T10:30:00Z
    CompanyIdentifierType:
      type: string
      description: The type of identifier for a company
      example: COMPANY_REGISTRATION
      enum:
      - COMPANY_REGISTRATION
      - VAT
      - TAX
      - EIN
      - DUNS
      - OTHER
    Discount:
      required:
      - amount
      type: object
      properties:
        amount:
          type: number
          description: The total discount amount
          example: 5.0
        percentage:
          type: number
          description: The percentage discount
          format: double
          example: 20
        label:
          type: string
          description: A human-readable label for the discount
          example: Black Friday
      description: Issuer-supplied receipt-level discounts.
    EmailReceiptRequest:
      required:
      - cheqiReceipt
      - customerEmail
      type: object
      properties:
        customerEmail:
          type: string
        cheqiReceipt:
          $ref: "#/components/schemas/CheqiReceipt"
      description: Email receipt request with customer email and receipt details
    Identifier:
      required:
      - type
      - value
      type: object
      properties:
        type:
          type: string
          description: The type of identifier
          example: ORDER_NUMBER/DEBITOR_NUMBER
        value:
          type: string
          description: The value of the identifier
          example: "123456"
      description: Additional issuer-supplied receipt references.
    PartyAddress:
      type: object
      properties:
        street:
          type: string
        city:
          type: string
        state:
          type: string
        zipCode:
          type: string
        country:
          type: string
      description: The addressDto of the receiving party
    Period:
      required:
      - endDate
      - startDate
      type: object
      properties:
        startDate:
          type: string
          description: The start date of the period
          format: date-time
          example: 2024-01-01T00:00:00Z
        endDate:
          type: string
          description: The end date of the periodo
          format: date-time
          example: 2024-01-01T00:00:00Z
        description:
          type: string
          description: Human-readable description of the period
          example: Monthly subscription - January 2024
      description: Optional billing or service period covered by the receipt.
    Product:
      required:
      - identifier
      - name
      - quantity
      - subtotal
      - taxes
      - total
      - unitCode
      - unitPrice
      type: object
      properties:
        name:
          type: string
          description: The product name
          example: Product Name
        brandName:
          type: string
          description: The brand name
          example: Brand Name
        identifier:
          type: string
          description: "The identifier or article number of the product, this can\
            \ for example also be a SKU/EAN code."
          example: "123456"
        description:
          type: string
          description: The description of the product
        quantity:
          type: number
          description: The quantity of this item
          format: double
          example: 20
        baseQuantity:
          type: number
          description: The base quantity of this item
          format: double
          example: 20
        unitCode:
          $ref: "#/components/schemas/UnitCode"
        period:
          $ref: "#/components/schemas/Period"
        unitPrice:
          type: number
          description: The unit price of this item
          example: 10.0
        discounts:
          type: array
          description: The discounts applied to this line item
          items:
            $ref: "#/components/schemas/Discount"
        charges:
          type: array
          description: The extra charges applied to this line item
          items:
            $ref: "#/components/schemas/Charge"
        taxes:
          type: array
          description: The taxes applied to this line item
          items:
            $ref: "#/components/schemas/Tax"
        subtotal:
          type: number
          description: "The line subtotal, before tax. Typically: quantity * unitPrice\
            \ - discounts + charges (net)."
          example: 10.0
        total:
          type: number
          description: "The line total, after tax. Typically: subtotal + tax amounts\
            \ (gross)."
          example: 10.0
        barcodes:
          type: array
          description: "Barcodes attached to this line item (e.g. ticket codes, return\
            \ codes)"
          items:
            $ref: "#/components/schemas/Barcode"
      description: Issuer-supplied receipt line items.
    ReceivingParty:
      type: object
      properties:
        companyLegalName:
          type: string
          description: The legal name of the receiving company (B2B only). Use this
            for business recipients.
          example: Acme Corporation B.V.
        taxNumber:
          type: string
          description: The tax number of the receiving party (B2B only)
          example: "987654321"
        companyIdentifiers:
          type: array
          description: The company identifiers of the receiving party (B2B only)
          example: 987654321
          items:
            $ref: "#/components/schemas/CompanyIdentifierDTO"
        consumerName:
          type: string
          description: The full name of the consumer (B2C only). Use this for individual
            recipients.
          example: John Doe
        email:
          type: string
          description: The email addressDto of the receiving party
          example: john.doe@example.com
        phone:
          type: string
          description: The phone number of the receiving party
          example: "+31612345678"
        address:
          $ref: "#/components/schemas/PartyAddress"
        companyRegistration:
          type: array
          writeOnly: true
          items:
            $ref: "#/components/schemas/CompanyIdentifierDTO"
      description: Cheqi JSON receiving-party object for the matched customer or customer
        company. Include this when the recipient accepts the CHEQI JSON receipt format.
    SellingParty:
      type: object
      properties:
        companyName:
          type: string
          description: The name of the company
          example: Cheqi
        companyLegalName:
          type: string
          description: The legal name of the company
          example: Cheqi B.V.
        taxNumber:
          type: string
          description: The tax number of the selling party
          example: "123456789"
        phoneNumber:
          type: string
          description: The phone number of the selling party
          example: +31 20 123 4567
        identifiers:
          type: array
          description: All company identifiers of the selling party
          items:
            $ref: "#/components/schemas/CompanyIdentifierDTO"
        address:
          $ref: "#/components/schemas/PartyAddress"
      description: The selling party of the receipt.
    Tax:
      required:
      - rate
      - taxableAmount
      - type
      type: object
      properties:
        rate:
          type: number
          description: The tax rate as a percentage (e.g. 21.0 for 21%)
          format: double
          example: 21.0
        type:
          type: string
          description: "The type of tax, e.g. \"VAT\", \"GST\", \"Sales Tax\""
          example: VAT
        amount:
          type: number
          description: The calculated tax amount
          example: 10.0
        taxableAmount:
          type: number
          description: The total taxable amount for this tax rate
          example: 10.0
        label:
          type: string
          description: The label of the tax
          example: VAT 21%
        category:
          $ref: "#/components/schemas/TaxCategoryCode"
        exemptionReasonCode:
          type: string
          description: Tax exemption reason code. Written to UBL only when category
            is EXEMPT.
          example: VATEX-EU-132
        exemptionReason:
          type: string
          description: Tax exemption reason. Written to UBL only when category is
            EXEMPT.
          example: Exempt supply
      description: Issuer-supplied receipt-level tax breakdown.
    TaxCategoryCode:
      type: string
      description: Semantic tax category used to map the tax to the correct UBL UNCL5305
        code
      example: STANDARD
      enum:
      - STANDARD
      - ZERO_RATED
      - EXEMPT
      - OUTSIDE_SCOPE
    UnitCode:
      type: string
      description: Unit of measure codes based on UN/ECE Recommendation 20
      example: C62
      enum:
      - C62
      - EA
      - KGM
      - GRM
      - MGM
      - TNE
      - LBR
      - ONZ
      - LTR
      - MLT
      - CLT
      - HLT
      - MTQ
      - CMQ
      - GLL
      - GLI
      - MTR
      - CMT
      - MMT
      - KMT
      - INH
      - FOT
      - YRD
      - SMI
      - MTK
      - CMK
      - FTK
      - INK
      - SEC
      - MIN
      - HUR
      - DAY
      - WEE
      - MON
      - ANN
      - SET
      - PR
      - DZN
      - NMP
      - XPK
      - BX
      - CT
      - CS
      - PK
      - PF
      - BO
      - CA
      - BG
      - E48
      - ACT
      - E51
      - AD
      - 2P
      - 4L
    ClientReceiptDownloadRequest:
      required:
      - ciphertext
      - downloadId
      type: object
      properties:
        downloadId:
          pattern: "^[A-Za-z0-9_-]{22,64}$"
          type: string
          description: "Client-generated download identifier: at least 16 CSPRNG bytes\
            \ encoded as base64url without padding. Must be exactly the id embedded\
            \ in the QR URL path. Resubmitting the same id with identical payload\
            \ bytes is an idempotent replay."
          example: Zk9qYx3vT1KpN8wL2sRd_g
        ciphertext:
          type: string
          description: "Base64-encoded AES-256-GCM blob framed as iv || ciphertext\
            \ || tag (12-byte IV, 128-bit tag) of the receipt envelope, encrypted\
            \ client-side with the key from the QR URL fragment. Cheqi never receives\
            \ that key and cannot decrypt this payload."
        templateHash:
          type: string
          description: Optional locally computed template hash for audit and reconciliation.
          nullable: true
      description: Client-encrypted receipt payload
    ClientReceiptDownloadResponse:
      type: object
      properties:
        cheqiReceiptId:
          type: string
          description: "Stable Cheqi receipt identifier minted at upload time, for\
            \ merchant back-office reconciliation. The customer-facing reference is\
            \ the download URL itself."
          example: CHQ-12345678-123456-123456
        createdAt:
          type: string
          description: Timestamp when Cheqi first accepted this upload.
          format: date-time
        expiresAt:
          type: string
          description: Timestamp after which the download link stops resolving.
          format: date-time
    ClientCredentialsTokenRequest:
      type: object
      properties:
        scope:
          type: string
          description: Requested OAuth scope
          example: write_receipts
        grant_type:
          type: string
          description: OAuth grant type
          example: client_credentials
          enum:
          - client_credentials
        client_id:
          type: string
          description: Client application identifier
          example: your_client_id
        client_secret:
          type: string
          description: Client application secret
          example: your_client_secret
        grant_id:
          type: string
          description: Explicit Company Grant to use
          format: uuid
          example: 9f5968f2-93b7-4b4e-a1c3-7220a92f7d98
      description: Client credentials token request
    OAuthTokenExchangeResponse:
      type: object
      properties:
        access_token:
          type: string
        token_type:
          type: string
          enum:
          - authorization_code
          - client_credentials
          - refresh_token
          - bearer
          - access_token
        expires_in:
          type: integer
          format: int64
        scope:
          type: string
    CompanyGrantActionRequest:
      required:
      - reason
      type: object
      properties:
        reason:
          type: string
    CompanyGrantResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        integration_id:
          type: string
          format: uuid
        issuer_company_id:
          type: string
          format: uuid
        status:
          type: string
          enum:
          - ACTIVE
          - SUSPENDED
          - REVOKED
        version:
          type: integer
          format: int64
        scopes:
          uniqueItems: true
          type: array
          items:
            type: string
        billing_responsibility:
          type: string
          enum:
          - INTEGRATION
          - ISSUER_COMPANY
        store_access_mode:
          type: string
          enum:
          - ALL_STORES
          - SELECTED_STORES
        store_ids:
          uniqueItems: true
          type: array
          items:
            type: string
            format: uuid
        origin:
          type: string
          enum:
          - USER_CONSENT
          - TRUSTED_PROVISIONING
          - ADMIN_BULK_GRANT
        expires_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    AuthorizationCodeExchangeRequest:
      type: object
      properties:
        client_id:
          type: string
          description: Client application identifier
          example: your_client_id
        client_secret:
          type: string
          description: Client application secret
          example: your_client_secret
        code:
          type: string
          description: One-time authorization code returned by the OAuth redirect
          example: AUTH_CODE
        code_verifier:
          type: string
          description: PKCE code verifier used to create the authorization request
          example: VERIFIER
      description: Authorization code exchange request
    CompanyAuthorizationResponse:
      type: object
      properties:
        grants:
          type: array
          items:
            $ref: "#/components/schemas/CompanyGrantMetadataResponse"
    CompanyGrantMetadataResponse:
      type: object
      properties:
        grant_id:
          type: string
          format: uuid
        grant_version:
          type: integer
          format: int64
        issuer_company_id:
          type: string
          format: uuid
        company_legal_name:
          type: string
        tax_id:
          type: string
        scopes:
          uniqueItems: true
          type: array
          items:
            type: string
        store_ids:
          uniqueItems: true
          type: array
          items:
            type: string
            format: uuid
        store_access_mode:
          type: string
          enum:
          - ALL_STORES
          - SELECTED_STORES
      description: Company Grant metadata returned after authorization-code exchange
    EncryptedCreditNoteInitiationRequest:
      type: object
      properties:
        cheqiReceiptId:
          type: string
          description: The Cheqi receipt ID for the original receipt
        publicKey:
          type: string
          description: The public key of the requesting device
        encryptedCreditNoteInitiationRequest:
          type: string
          description: The encrypted credit note initiation request payload
        encryptedSymmetricKey:
          type: string
          description: The AES symmetric key encrypted with the recipient's RSA public
            key
      description: Encrypted credit note initiation request from a customer's device
    EncryptedCreditNoteEnvelope:
      required:
      - deviceDeliveries
      - matchId
      - parentCheqiReceiptId
      type: object
      properties:
        matchId:
          type: string
          description: Device-processing match ID returned by POST /recipient/resolve.
        childCompanyId:
          type: string
          format: uuid
          deprecated: true
        storeId:
          type: string
          format: uuid
        parentCheqiReceiptId:
          type: string
          description: Cheqi receipt ID that this credit note reverses.
        deviceDeliveries:
          type: array
          items:
            $ref: "#/components/schemas/EncryptedReceiptPayload"
      description: Independently encrypted credit-note generation request for every
        owner device
    CompanyCreationRequest:
      required:
      - address
      - companyEmail
      - companyLegalName
      - companyName
      type: object
      properties:
        companyName:
          type: string
          description: Display name of the company
          example: Example Coffee Shop
        companyLegalName:
          type: string
          description: Legal registered name of the company
          example: Example Coffee Shop B.V.
        address:
          $ref: "#/components/schemas/AddressDTO"
        companyEmail:
          type: string
          description: Primary company email address
          example: finance@example.com
        phoneNumber:
          type: string
          description: Primary company phone number
          nullable: true
          example: +31 20 123 4567
        contactDetails:
          uniqueItems: true
          type: array
          description: Optional additional contact details for the company
          items:
            $ref: "#/components/schemas/ContactDetailDto"
        identifiers:
          uniqueItems: true
          type: array
          description: Optional company registration identifiers
          items:
            $ref: "#/components/schemas/CompanyIdentifierDTO"
        website:
          type: string
          description: Public company website
          nullable: true
          example: https://example.com
        returnDays:
          type: integer
          description: Default return window in days
          format: int32
          nullable: true
          example: 30
        companyReceiptText:
          type: string
          description: Optional custom receipt text appended to company receipts
          nullable: true
        returnProcessingMode:
          $ref: "#/components/schemas/ReturnProcessingMode"
        notificationCodeEnabled:
          type: boolean
          description: Whether notification-code based receipt retrieval is enabled
          nullable: true
        emailFallbackEnabled:
          type: boolean
          description: Whether receipts may fall back to PDF email delivery when recipient
            matching does not find a Cheqi recipient
          nullable: true
        downloadFallbackEnabled:
          type: boolean
          description: Whether receipts may fall back to QR-code download delivery
            when recipient matching does not find a Cheqi recipient
          nullable: true
      description: Request payload for creating or provisioning a company.
    ContactDetailDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        contactType:
          type: string
        contactValue:
          type: string
        displayName:
          type: string
      description: Optional additional contact details for the company
    CreateChildCompanyRequest:
      type: object
      properties:
        company:
          $ref: "#/components/schemas/CompanyCreationRequest"
        adminEmail:
          type: string
          description: Email address of the company admin to invite
          example: owner@example.com
      description: Child company details
    ReturnProcessingMode:
      type: string
      description: The processing mode for returns
      nullable: true
      example: MANUAL
      enum:
      - MANUAL
      - AUTOMATED
    CompanyResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        companyName:
          type: string
        companyLegalName:
          type: string
        address:
          $ref: "#/components/schemas/AddressDTO"
        companyEmail:
          type: string
        phoneNumber:
          type: string
        identifiers:
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/CompanyIdentifierDTO"
        website:
          type: string
    CreateStoreRequest:
      required:
      - addressDto
      - storeCode
      - storeName
      type: object
      properties:
        storeName:
          maxLength: 255
          minLength: 0
          type: string
        storeCode:
          maxLength: 50
          minLength: 0
          type: string
        addressDto:
          $ref: "#/components/schemas/AddressDTO"
        phoneNumber:
          maxLength: 20
          minLength: 0
          type: string
        email:
          maxLength: 255
          minLength: 0
          type: string
        openingHours:
          maxLength: 500
          minLength: 0
          type: string
    KeyAlgorithm:
      type: string
      description: Key algorithm for encryption
      enum:
      - RSA_2048
      - RSA_4096
    UploadPublicKeyRequest:
      required:
      - keyAlgorithm
      - publicKey
      type: object
      properties:
        publicKey:
          type: string
        keyAlgorithm:
          $ref: "#/components/schemas/KeyAlgorithm"
      description: Public key upload request with key data and algorithm
    UpdateCompanyGrantRequest:
      required:
      - reason
      - scopes
      type: object
      properties:
        scopes:
          uniqueItems: true
          type: array
          items:
            type: string
        billing_responsibility:
          type: string
          enum:
          - INTEGRATION
          - ISSUER_COMPANY
        store_access_mode:
          type: string
          enum:
          - ALL_STORES
          - SELECTED_STORES
        store_ids:
          uniqueItems: true
          type: array
          items:
            type: string
            format: uuid
        reason:
          type: string
    DocumentType:
      type: string
      description: Type of document for this receipt
      enum:
      - RECEIPT
      - CREDIT_NOTE
    EncryptedReceiptDeliveryResponse:
      type: object
      properties:
        cheqiReceiptId:
          type: string
        parentCheqiReceiptId:
          type: string
        documentType:
          $ref: "#/components/schemas/DocumentType"
        encryptedReceipt:
          type: string
        encryptedSymmetricKey:
          type: string
        publicKey:
          type: string
        recipientKeyAlgorithm:
          type: string
        receiptGeneratorVersion:
          type: string
        envelopeVersion:
          type: integer
          format: int32
        encryptedCustomerDetails:
          type: string
        encryptedCustomerAesKey:
          type: string
        receiptFormats:
          type: array
          items:
            $ref: "#/components/schemas/ReceiptFormat"
        supplierPartyId:
          type: string
          format: uuid
        creationDate:
          type: string
          format: date-time
      description: Encrypted receipt or credit-note delivery envelope returned to
        an authorized recipient.
    OAuthGrantCompanyResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        companyName:
          type: string
        companyLegalName:
          type: string
        address:
          $ref: "#/components/schemas/AddressDTO"
        identifiers:
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/CompanyIdentifierDTO"
        website:
          type: string
    OAuthGrantDetailsResponse:
      type: object
      properties:
        grant_id:
          type: string
          format: uuid
        grant_version:
          type: integer
          format: int64
        company:
          $ref: "#/components/schemas/OAuthGrantCompanyResponse"
        stores:
          type: array
          items:
            $ref: "#/components/schemas/StoreDTO"
        scopes:
          uniqueItems: true
          type: array
          items:
            type: string
        store_access_mode:
          type: string
          enum:
          - ALL_STORES
          - SELECTED_STORES
    EncryptedCreditNoteDto:
      required:
      - encryptedCreditNote
      - encryptedCustomerAesKey
      - encryptedCustomerDetails
      - encryptedSymmetricKey
      - publicKey
      - recipientId
      - supplierPartyId
      type: object
      properties:
        recipientId:
          type: string
          description: The recipient ID of the credit note
          format: uuid
        creditNoteId:
          type: string
          description: The credit note ID
          example: UUID
        originalReceiptId:
          type: string
          description: The original receipt ID
          example: UUID
        receiverType:
          $ref: "#/components/schemas/ReceiverType"
        encryptedCreditNote:
          type: string
          description: The encrypted credit note
          example: encryptedCreditNote
        encryptedSymmetricKey:
          type: string
          description: Base64-encoded device-specific encrypted symmetric key
        encryptedCustomerDetails:
          type: string
          description: Base64-encoded encrypted customer details.
        encryptedCustomerAesKey:
          type: string
          description: Base64-encoded encrypted customer details AES key
        finalHash:
          type: string
        publicKey:
          type: string
          description: Base64-encoded public key used to encrypt the request
        supplierPartyId:
          type: string
          description: Supplier party ID for storage
          format: uuid
    ReceiverType:
      type: string
      description: Type of receiver for this receipt
      example: WEBHOOK/DEVICE
      enum:
      - DEVICE
      - CLIENT_APPLICATION
      - COMPANY
      - EMAIL_FALLBACK
      - DOWNLOAD_FALLBACK
    CompanyReceiptDeliverySettingsResponse:
      type: object
      properties:
        receiptRecipient:
          type: boolean
        devices:
          type: array
          items:
            $ref: "#/components/schemas/CompanyReceiptDeliveryDeviceDto"
    CompanyIdentifierRequirement:
      type: object
      properties:
        identifierType:
          $ref: "#/components/schemas/CompanyIdentifierType"
        registrationScheme:
          type: string
          description: Optional registry or local scheme
          nullable: true
          example: KVK
        label:
          type: string
          description: User-facing label
          example: KVK number
        placeholder:
          type: string
          description: Input placeholder
          example: e.g. 12345678
        required:
          type: boolean
          description: Whether this identifier should be collected for this country
        receiptRelevant:
          type: boolean
          description: Whether this identifier is typically printed on receipts or
            invoices
      description: Country-specific company identifier option for onboarding and company
        creation.
    PublicKeyResponse:
      type: object
      properties:
        publicKey:
          type: string
        keyAlgorithm:
          $ref: "#/components/schemas/KeyAlgorithm"
        keyCreatedAt:
          type: string
          format: date-time
        hasKey:
          type: boolean
    AuthorizedCardDTO:
      type: object
      properties:
        id:
          type: string
          format: uuid
        lastFourDigits:
          type: string
    AuthorizedCompanyDTO:
      type: object
      properties:
        id:
          type: string
          format: uuid
        companyName:
          type: string
        companyLegalName:
          type: string
        identifiers:
          type: array
          items:
            $ref: "#/components/schemas/CompanyIdentifierDTO"
        paymentAccounts:
          type: array
          items:
            $ref: "#/components/schemas/AuthorizedPaymentAccountDTO"
    AuthorizedEmailDTO:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
    AuthorizedPaymentAccountDTO:
      type: object
      properties:
        id:
          type: string
          format: uuid
        accountIdentifier:
          type: string
        accountIdentifierType:
          type: string
          enum:
          - IBAN
          - ROUTING_ACCOUNT
          - SORT_CODE_ACCOUNT
          - TOKEN
          - WALLET
          - OTHER
        company:
          $ref: "#/components/schemas/AuthorizedCompanyDTO"
        cards:
          type: array
          items:
            $ref: "#/components/schemas/AuthorizedCardDTO"
    AuthorizedResourcesResponse:
      type: object
      properties:
        scopes:
          type: array
          items:
            type: string
        companies:
          type: array
          items:
            $ref: "#/components/schemas/AuthorizedCompanyDTO"
        standalonePaymentAccounts:
          type: array
          items:
            $ref: "#/components/schemas/AuthorizedPaymentAccountDTO"
        standaloneEmails:
          type: array
          items:
            $ref: "#/components/schemas/AuthorizedEmailDTO"
    BarcodeType:
      type: string
      description: The type of barcode or scannable code
      example: QR_CODE
      enum:
      - QR_CODE
      - EAN_13
      - EAN_8
      - CODE_128
      - UPC_A
      - DATA_MATRIX
    NotificationDisplayCode:
      required:
      - data
      - type
      type: object
      properties:
        type:
          $ref: "#/components/schemas/BarcodeType"
        data:
          type: string
    ReceiptDelivery:
      type: object
      properties:
        recipientId:
          type: string
          format: uuid
        receiptId:
          type: string
        receiverType:
          $ref: "#/components/schemas/ReceiverType"
        encryptedCustomerDetails:
          type: string
        encryptedCustomerAesKey:
          type: string
        finalHash:
          type: string
        publicKey:
          type: string
        recipientKeyAlgorithm:
          type: string
        receiptGeneratorVersion:
          type: string
        envelopeVersion:
          type: integer
          format: int32
        supplierPartyId:
          type: string
          format: uuid
        receiptFormats:
          type: array
          items:
            $ref: "#/components/schemas/ReceiptFormat"
        notificationDisplayCode:
          $ref: "#/components/schemas/NotificationDisplayCode"
        additionalProperties:
          type: object
          additionalProperties:
            type: object
        encryptedSymmetricKey:
          type: string
          writeOnly: true
        encryptedReceipt:
          type: string
          writeOnly: true
        encryptedEnvelope:
          type: string
        encryptedEnvelopeKey:
          type: string
    RoutingIdentifier:
      type: object
      properties:
        type:
          $ref: "#/components/schemas/RoutingIdentifierType"
        id:
          type: string
          description: Identifier value for the resolved routing target.
          format: uuid
      description: Identifier that was used to route or resolve the recipient context
        for this queued receipt.
    RoutingIdentifierType:
      type: string
      description: Type of routing identifier
      enum:
      - PAYMENT_ACCOUNT
      - CARD
      - EMAIL
      - CASH
    WebhookEventDTO:
      type: object
      properties:
        clientId:
          type: string
          description: Public OAuth client ID of the client application that owns
            the webhook subscription.
          nullable: true
        companyId:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        event:
          type: string
          enum:
          - RECEIPT_CREATED
          - RECEIPT_FINALIZED
          - RETURN_REQUESTED
          - CREDIT_NOTE_CREATED
          - CREDIT_NOTE_FINALIZED
        created_at:
          type: string
          format: date-time
        cheqiReceiptId:
          type: string
        routingIdentifier:
          $ref: "#/components/schemas/RoutingIdentifier"
        encryptedReceipt:
          $ref: "#/components/schemas/ReceiptDelivery"
        encryptedCreditNoteInitiationRequest:
          $ref: "#/components/schemas/EncryptedCreditNoteInitiationRequest"
        encryptedCreditNoteDto:
          $ref: "#/components/schemas/EncryptedCreditNoteDto"
        finalHash:
          type: string
        finalizedAt:
          type: string
          format: date-time
        deviceId:
          type: string
          format: uuid
      description: Payload delivered to registered webhook notification URLs when
        subscribed events occur.
    ReceiptEnvelope:
      required:
      - cheqiReceiptId
      - documents
      - envelopeVersion
      - receiptGeneratorVersion
      - receiptUuid
      type: object
      properties:
        cheqiReceiptId:
          type: string
          description: Stable Cheqi receipt or credit-note identifier.
          example: CHQ-20260724-135304-36DEC3
        documents:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/ReceiptEnvelopeDocument"
          description: "Generated documents keyed by ReceiptFormat name: CHEQI, UBL_PURCHASE_RECEIPT,\
            \ UBL_INVOICE, or UBL_CREDIT_NOTE. Only formats included for this recipient\
            \ are present. Each document's content is serialized JSON or XML, not\
            \ a nested parsed document."
        envelopeVersion:
          maximum: 1
          minimum: 1
          type: integer
          description: Schema version of this encrypted plaintext envelope.
          format: int32
          example: 1
        receiptGeneratorVersion:
          pattern: "^[A-Za-z0-9][A-Za-z0-9._+\\-]{0,63}$"
          type: string
          description: Version of the Rust receipt-template engine that generated
            the documents.
          example: 0.3.0
        receiptUuid:
          type: string
          description: Shared UUID embedded in every generated representation of this
            receipt.
          format: uuid
          example: 2a061905-30da-430d-b6b9-0be2189a6902
      description: Versioned plaintext receipt package encrypted independently for
        one recipient.
      x-tags:
      - Receipt Management
    ReceiptEnvelopeDocument:
      required:
      - content
      - mediaType
      type: object
      properties:
        content:
          type: string
          description: Complete generated JSON or XML document serialized as a string.
            Parse this value according to mediaType after parsing the outer envelope.
          example: "{\"documentNumber\":\"INV-2026-000042\",\"currency\":\"EUR\",\"\
            totalAmount\":121.0}"
        mediaType:
          type: string
          description: Media type of content.
          example: application/json
          enum:
          - application/json
          - application/xml
      description: One generated document inside a recipient receipt envelope.
      x-tags:
      - Receipt Management
    FiscalizationData:
      required:
      - status
      - system
      type: object
      properties:
        system:
          type: string
          description: Local fiscalization system or regime
          example: DE_KASSENSICHV_TSE
        status:
          $ref: "#/components/schemas/FiscalizationStatus"
        fiscalDocumentNumber:
          type: string
        fiscalDeviceId:
          type: string
        cashRegisterId:
          type: string
        businessPremiseId:
          type: string
        operatorId:
          type: string
        transactionId:
          type: string
        sequenceNumber:
          type: string
        authorityReference:
          type: string
        softwareId:
          type: string
        verificationCode:
          type: string
        signature:
          type: string
        signatureAlgorithm:
          type: string
        verificationUrl:
          type: string
        timestamp:
          type: string
          format: date-time
        additionalFields:
          type: array
          items:
            $ref: "#/components/schemas/JurisdictionField"
    FiscalizationStatus:
      type: string
      description: Outcome supplied by the merchant's local fiscalization system.
        PENDING and FAILED are rejected when generating a final receipt.
      enum:
      - FISCALIZED
      - NOT_REQUIRED
      - PENDING
      - FAILED
    JurisdictionField:
      required:
      - code
      - value
      type: object
      properties:
        code:
          type: string
          description: "Stable uppercase, preferably country-namespaced field code"
          example: PT:ATCUD
        value:
          type: string
          description: Exact value supplied by the fiscal/POS system
        label:
          type: string
          description: Optional display label
    JurisdictionLegalText:
      required:
      - code
      - text
      type: object
      properties:
        code:
          type: string
          description: Stable uppercase legal-text code
          example: REVERSE_CHARGE_NOTICE
        text:
          type: string
          description: Exact legally required text
        languageCode:
          type: string
          description: Optional BCP 47 language tag
          example: pt-PT
        displayRole:
          type: string
          description: Semantic presentation role for exact jurisdictional legal text
          enum:
          - DOCUMENT_HEADING
          - NOTICE
          - FOOTER
      description: Exact jurisdictional legal text for structured CHEQI and UBL output.
        This does not populate the merchant-configured receipt note.
    JurisdictionalData:
      type: object
      properties:
        countryCode:
          type: string
          description: "Optional ISO 3166-1 alpha-2 issuance country; when omitted,\
            \ the on-device engine uses supplierParty.address.countryIsoCode"
          example: DE
        regime:
          type: string
          description: "Optional external fiscal, authority, or regulated-system regime\
            \ selected by the merchant POS"
          example: DE_KASSENSICHV
        regimeVersion:
          type: string
          description: Version of Cheqi's data contract for the selected external
            regime
          example: 2026-07
        fiscalization:
          $ref: "#/components/schemas/FiscalizationData"
        legalTexts:
          type: array
          description: Exact jurisdictional legal text for structured CHEQI and UBL
            output. This does not populate the merchant-configured receipt note.
          items:
            $ref: "#/components/schemas/JurisdictionLegalText"
        additionalFields:
          type: array
          items:
            $ref: "#/components/schemas/JurisdictionField"
      description: Optional country-specific fiscalization and legal receipt data.
    ReceiptPayload:
      required:
      - currency
      - documentNumber
      - issueDate
      - products
      - receiptSubtotal
      - taxesApplied
      - totalAmount
      - totalBeforeTax
      - totalTaxAmount
[...]
